/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

/* navbar */
nav {
    background: #000;
    padding: 15px;
    text-align: center;
}

nav a:hover {
    color: #f4a261;
}

/* hero */
.hero {
    background: url('../images/hero.jpg') no-repeat center/cover;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero {
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
}

.btn {
    background: #f4a261;
    padding: 10px 20px;
    color: white;
    border: none;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

/* container */
.container {
    padding: 40px;
}

/* cards */
.card {
    background: #f9f9f9;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
}

/* gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

/* form */
form {
    max-width: 500px;
    margin: auto;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: black;
    color: white;
    padding: 10px;
    border: none;
}

/* footer */
footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: #fff;
}

.logo {
    color: white;
    display: inline-block;
    margin-right: 20px;
}

.nav-links {
    display: inline-block;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.promo {
    background: #f4a261;
    text-align: center;
    padding: 40px;
    color: white;
}